{% extends "base.html" %}

{% block content %}
<h2>📌 프로젝트 목록</h2>

<ul class="project-list">
    <a href="{% url 'project-create' %}" class="btn btn-primary">
        <img src="/static/btn_project_add.png" style="width: 60px; height: 60px; object-fit: cover; border-radius: 10px;">
    </a>
    {% for project in projects %}
        <li class="project-item">
            <a href="{% url 'project-detail' project.id|stringformat:'s' %}">
                {% if project.image %}
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" style="width: 60px; height: 60px; object-fit: cover; border-radius: 10px;">
                {% else %}
                    <img src="/static/default_project_image.jpg" alt="No Image" style="width: 60px; height: 60px; object-fit: cover; border-radius: 10px;">
                {% endif %}
            </a>
            <div class="project-info">
                <a href="{% url 'project-detail' project.id|stringformat:'s' %}"><strong>{{ project.title }}</strong></a> - {{ project.description }}
                <div class="project-actions">
                    <a href="{% url 'project-update' project.id|stringformat:'s' %}" class="btn btn-warning">수정</a>
                    <a href="{% url 'project-delete' project.id|stringformat:'s' %}" class="btn btn-danger">삭제</a>
                    <a href="{% url 'project-file-upload' project.id|stringformat:'s' %}" class="btn btn-danger">업로드</a>
                </div>
            </div>
        </li>
    {% empty %}
        <p>아직 생성된 프로젝트가 없습니다.</p>
    {% endfor %}
</ul>

<style>
    .project-list {
        list-style: none;
        padding: 0;
    }
    .project-item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .project-image img {
        border-radius: 5px;
        margin-right: 15px;
    }
    .project-info {
        flex-grow: 1;
    }
    .project-actions {
        margin-top: 5px;
    }
</style>
{% endblock %}
